*{
    margin: 0;
    user-select: none;
}
body{
    background-color:#FBECD9;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    display: inline-block;
    height: 100vh;
    font-family: "Bagerich";
    font-weight: 400;
    font-size: 4rem;
}
.scroll-element{
    width: 100%;
    height: 100vh;
}
#title-page{
    text-align: center;
    font-family: "Bagerich";
    color: #64250E;
    font-weight: 400;
}
#title-page p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: Bagerich;
    font-size: 40px;
    color: white;
    background-color: #556E59;
    width: 500px;
    border-radius: 15px;
}
#main-title{
    font-size: 70px;
}
#date-title{
    font-family: Bagerich;
    font-size: 50px;
}
.page-title{
    margin-bottom: 20px;
    text-align: center;
    font-family: Bagerich;
    font-size: 90px;
}
#main-image{
    width: 85%;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.row{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-image{
    width: 100%;
    border-radius: 15px;
}
.column{
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100/3);
    flex: 1;
    font-size: 0;
}
.column p{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: #64250E;
    border-radius: 15px;
    padding: 15px;
}
#section-1{
    color: #64250E;
}
#section-1 p{
    background-color: #C3BCD2;
}
#col1 p{
    margin-bottom: 20px;
}
#macdonald1{
    margin-bottom: 25px;
}
#macdonald2{
    margin-bottom: 10px;
}
#col3 p{
    margin-bottom: 10px;
}
#section-2{
    background-color: #FBECD9;
    color: #64250E;
}
#section-2 p{
    background-color: #78c9ce;
}
#col4 p{
    margin-bottom: 30px;
}
#water-sprite{
    margin-bottom: 65px;
}
#col6 p{
    margin-bottom: 10px;
}
#section-3{
    background-color: #FBECD9;
    color: #64250E;
}
#section-3 p{
    background-color: #E8C664;
}
#klimt2{
    margin-bottom: 20px;
}
#col8-text1{
    margin-bottom: 25px;
}
#adele-klimt{
    margin-bottom: 25px;
}
#section-4{
    background-color: #FBECD9;
    color: #64250E;
}
#col11 p{
    background-color: white;
    margin-bottom: 25px;
}
#col12 p{
    background-color: white;
}
#beardsley8{
    margin-bottom: 5px;
}
#section-5{
    background-color: #FBECD9;
    color: #64250E;
}
#col14 p{
    background-color: #B1BFAD;
}
#col4-text1{
    margin-bottom: 45px;
}
#col4-text2{
    margin-bottom: 45px;
}
#mucha4{
    margin-bottom: 55px;
}
@font-face {
    font-family: "Bagerich";
    src: url("../fonts/FontsFree-Net-Bagerich.ttf");
}
@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}
.js-scroll{
    opacity: 0;
}
.scrolled.fade-in{
    animation: fade-in 1.5s ease-in-out both;
}
.scrolled.slide-left{
    animation: slide-in-left 1.5s ease-in-out both;
}
.scrolled.slide-right{
    animation: slide-in-right 1.5s ease-in-out both;
}
.scrolled.slide-bottom{
    animation: slide-in-bottom 1.5s ease-in-out both;
}
/* Keyframe animations */
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
