*{
    margin: 0;
}
body{
    background-color:#F2C197;
}
#title-page{
    font-family: "Bagerich";
    color: #556E59;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    height: 1450px;
}
.scroll-container{
    font-family: "Bagerich";
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    line-height: 1000px;
}
#container{
    width: 100%;
}
.scroll-element{
    width: 100%;
    height: 1450px;
    line-height: 1450px;
}
#section-1{
    background-color: #FBECD9;
}
#section-3{
    background-color: #FBECD9;
}
#section-5{
    background-color: #FBECD9;
}
@font-face {
    font-family: "Bagerich";
    src: url("../fonts/FontsFree-Net-Bagerich.ttf");
}
.js-scroll{
    opacity: 0;
}
.scrolled.fade-in{
    animation: fade-in 1s ease-in-out both;
}